.container-fluid
  .row#offer
    .container.align-items-center.d-flex#bg-offer
      .row.justify-content-center
        .display-1.mb-4.font-weight-bold.font-oswald.text-info
          Easy Verify
        %h1.display-4.text-center.text-white.w-75.font-oswald
          Прозрачная и защищенная система проверки квалификации сотрудника
        .text-center.text-white.my-3.h4
          / Достоверная и надежная база дипломов и других документов об образовании
        %br
        .text-center
          = link_to 'Узнать больше', '#more-info', class: 'btn btn-outline-light btn-lg', data: {turbolinks: false}
          = link_to 'Проверить сейчас', '#login', class: 'btn btn-outline-light btn-lg', data: {turbolinks: false}

.container#more-info.pt-2
  %h2.my-5.text-center.text-uppercase.font-weight-bold.text-info
    Первая блокчейн платформа для проверки документов об образовании
  .row
    .col-6
      .lead.font-oswald.mb-3
        %i.fas.fa-graduation-cap.mr-2
        Проверка квалификации - первый шаг при найме сотрудника
      .border-left.pl-2
        По оценкам экспертов, до 25 процентов специалистов при приеме на работу предъявляют поддельные документы об образовании. Квалификация сотрудника критически важна в таких сферах как медицина, финансы, государственное управление.
      .lead.font-oswald


    .col-6
      = image_tag 'job.jpg', class: 'img-fluid'




