#offer {
  min-height: 100vh;
  background: url('offer.jpg') center no-repeat;
  background-size: cover;
}

#bg-offer {
  min-width: 100%;
  min-height: 100vh;
  background-color:rgba(0, 0, 0, 0.7);
}
