#offer {
  min-height: 80vh;
  background: url('offer.jpg') center no-repeat;
  background-size: cover;
}

#bg-offer {
  min-width: 100%;
  min-height: 100vh;
  background-color:rgba(0, 0, 0, 0.7);
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

#more-info{
  min-height: 100vh;
}

.border-left {
  border-left: 4px solid $info;
}
